/* .root {
  flex: grow 1;
} */
.paper {
  padding: 16px;
  text-align: center;
}

.container {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 10px;
}

.icon {
  background: #214864;
  color: aqua;
  display: inline-block;
  margin: 10px;
  padding: 8px;
  flex-direction: row;
}

.yourselect {
  display: flex;
  flex-direction: column;
  background-color: #4caf50;
  color: #fff;
}
.yourhand {
  display: inline;
  margin: auto;
  padding-top: 10px;
}
.button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  display: inline;
  font-size: 16px;
}

.yourselect:hover {
  background-color: #fff;
  color: #4caf50;
  /* border: 2px solid #4caf50; */
}

.selection {
  background-color: #4caf50;
  padding: 20px;
  color: #fff;
  border-radius: 50%;
}

.selection:hover {
  background-color: #fff;
  color: #2b83e2;
  /* border: 2px solid gray; */
}
.score {
  text-align: center;
}

.pc {
  background-color: #e28a2b;
  height: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
